* {
	margin: 0;   
	padding: 0;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
  }


/* FIRST SCREEN */
#firstscreen {
	height: 100vh; 
	/* background-color: #4E398F; */
	background-image: linear-gradient(#654BD1, #3E2C66);
	/* 654BD1, 3E2C66 */
}

#firstscreen #header {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	/* width: 50%; */
	background-color: #4B2E7E;
	padding: 2em;
}

#firstscreen #header h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom: 1em;
	color: #FED061;
	font-size: 2em;
	font-variant: small-caps;
}

#firstscreen #header p {
	display: flex;
	justify-content: center;
	color: white;
	font-weight: light;
}

#firstscreen #header img {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 15em;
}

#firstscreen #visuals {
	display: flex;
	flex-direction: row;
	margin-left: 2em;
	margin-top: 2em;
}

#firstscreen #visuals p {
	color: white;
	margin-top: 1em;
	margin-right: 2em;
}

#firstscreen #states, #genre {
	width: 25em;
	display: flex;
	margin: 1em;
	/* padding: 1em; */
	/* padding-top: 5em;
	padding-bottom: 3em;
	margin-left: auto;
	margin-right: auto; */
}

#arrowdown {
	width: 3em;
	display: block;
	padding-top: 5em;
	margin-left: auto;
	margin-right: auto;
}


/* SECOND SCREEN */
#secondscreen {
	display: flex;
	height: 100vh;
	background-image: linear-gradient(#3E2C66, #654BD1);
}

#secondscreen #info {
	width: 30%;
	padding-left: 2em;
	padding-top: 1em;
}

#secondscreen #info #header {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 70%;
	background-color: #5540A7;
	padding: 2em;
}

#secondscreen #info #header h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #FED061;
	font-size: 1.5em;
	font-variant: small-caps;
}

#secondscreen #info #genres {
	height: 35%;
}

#secondscreen #info #genres p{
	color: #FED061;
}

#secondscreen #info #individual {
	height: 35%;
}

#secondscreen #info #individual p {
	color: #FED061;
}

#secondscreen #map { 
	width: 70%;
}

#secondscreen #footer {
	font-size: 0.5em;
	bottom: 0;
}

/* input[type=checkbox] { */
	/* order: 2; */
	/* margin-left: 3em; */
/* } */

#secondscreen label {
	/* display: flex; */
	margin-bottom: 1em;
	padding-left: 2em;
	color: white;
}


/* SCROLL */
#scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#scroll section {
    scroll-snap-align: start;
}
